@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,500;1,300;1,500&display=swap");

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.3rem;
  margin: 1rem 0;
  background-color: #03071e;
  font-family: "Karla", "sans-serif";
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item__description h2 {
  flex: 1;
  margin: 0 1.5rem;
  color: white;
  font-size: 1.25rem;
}

.expense-item__price {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  border-radius: 12px;
}

.expense-item__delete-btn {
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  font-size: 1.4rem;
  background-color: #f48c06;
  color: white;
  font-weight: 500;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.expense-item__delete-btn:hover,
.expense-item__delete-btnn:active {
  background-color: #faa307;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
