.new-expense {
  background-color: #003049;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #f48c06;
  color: white;
  font-weight: 500;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #faa307;
}

/* .new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
} */
